@model UpdateProductVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo" for="exampleInputUsername1">Photo</label>
                    <input asp-for="Photo" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Name" for="exampleInputEmail1">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label asp-for="Price" for="exampleInputPassword1">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="index" asp-controller="product" asp-area="admin" class="btn btn-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>